/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('roboto-v47-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('roboto-v47-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html{
    font-size: 16px;
    margin: 0;
}
body{
    display: flex;
    width: 1440px;
    height: 11050px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    height: 1%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 3px 12px 0px rgba(18, 18, 18, 0.06);
}
.block1{
    display: flex;
    width: 84.9%;
    height: 46.7%;
    justify-content: space-between;
    align-items: center;
}
.block1-1{
    display: flex;
    width: 58.2%;
    height: 100%;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}
img.image{
    width: 12.2%;
    height: 85.7%;
    flex-shrink: 0;
}
.block1-1-1{
    display: flex;
    width: 44.6%;
    height: 32%;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.block1-1-3{
    display: flex;
    width: 41.35%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.block1-1-3-1{
    display: flex;
    width: 55.1%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #EDEDED;
    background: #FFF;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.block1-1-3-2{
    display: flex;
    width: 38.8%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #FF5634;
    background: #FF5634;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
p.home{
    color: #FF5634;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
p.about{
    color: #121212;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
p.pricing{
    color: #121212;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
p.pages{
    color: #121212;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
p.cart0{
    color: #121212;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
p.downloadapp{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}
p.register{
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}
main{
    width: 100%;
    height: 98%;
}
p.fds{
    color: #FF5634;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}
p.df{
    color: #121212;
    font-family: Roboto;
    font-size: 3.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116.1%;
    margin-top: 1%;
}
p.text1{
    color: #656565;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%;
    margin-top: -5%;
}
span.text2{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%;
}
.deliciousfood{
    display: grid;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 8.42%;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.block2{
    position: relative;
    display: flex;
    width: 84.9%;
    height: 77.85%;
    flex-shrink: 0;
    justify-content: flex-start;
    gap: 5.2%;
    left: 21%;
    z-index: 1;
}
img.fastfood{
    width: 39.93%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    left: -12.4%;
    top: 0%;
}
.block2-1{
    width: 47.95%;
    height: 82.5%;
    flex-shrink: 0;
}
.block2-1-1{
    width: 100%;
    height: 44.54%;
    flex-shrink: 0;
}
.block2-1-2{
    display: inline-flex;
    width: 100%;
    height: 12.46%;
    align-items: flex-start;
    gap: 4.6%;
    flex-shrink: 0;
    margin-top: 8%;
}
.block2-1-2-1{
    display: flex;
    width: 42.15%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5634;
    background: #FF5634;
    justify-content: center;
    align-items: center;
}
.block2-1-2-2{
    display: flex;
    width: 34.98%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    background: #FFF;
    justify-content: center;
    align-items: center;
}
p.registerrestaurant{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
}
p.downloadapp2{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
img.telephon{
    width: 29.13%;
    height: 100%;
    flex-shrink: 0;
}
hr.line1{
    width: 100%;
    height: 0.17%;
    flex-shrink: 0;
    margin-top: 10%;
}
.block2-1-3{
    display: flex;
    height: 15.53%;
    justify-content: space-between;
    flex-shrink: 0;
    margin-top: 12%;
}
.block2-1-3-1{
    display: flex;
    width: 26.28%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.block2-1-3-2{
    display: flex;
    width: 31.23%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    
}
.block2-1-3-3{
    display: flex;
    width: 30.546%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
span.red{
    color: #FF5634;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 66.024px;
}
p.grey{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19.998px;
    margin-top: 3%;
    text-align: center;
}
.text3{
    width: 100%;
    height: 72.53%;
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.text4{
    width: 100%;
    height: 72.53%;
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.text5{
    width: 100%;
    height: 72.53%;
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.img-restaurants{
    display: flex;
    width: 100%;
    height: 3.645%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.block3{
    display: flex;
    width: 84.86%;
    height: 29.11%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41.74%;
}
.text6{
    width: 100%;
    height: 19.13%;
    text-align: center;
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.images{
    display: flex;
    width: 96.22%;
    height: 39.13%;
    justify-content: space-between;
}
img.restaurant1{
    width: 19.56%;
    height: 88.9%;
}
img.restaurant2{
    width: 19.56%;
    height: 95.56%;
}
img.restaurant3{
    width: 19.56%;
    height: 93.3%;
}
img.restaurant4{
    width: 19.56%;
    height: 100%;
}
hr.line2{
    width: 84.86%;
    height: 0.009%;
    flex-shrink: 0;
    margin-top: -0.2%;
}
.deliverysystem{
    display: flex;
    width: 100%;
    height: 11.52%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: -0.5%;
}
.block4{
    display: flex;
    width: 88.19%;
    height: 67.95%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block4-1{
    width: 55.12%;
    height: 24.65%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.text7{
    color: #FF5634;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111.1%; /* 111.1% */
    letter-spacing: 1.08px;
    text-transform: uppercase;
}
p.text8{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.7%; /* 122.7% */
    margin-top: -2%;
}
p.text9{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%; /* 250.05% */
    margin-top: -3%;
}
p.text10{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin-top: -2.5%;
    margin-left: 52%;
}
.block4-2{
    display: flex;
    width: 96.22%;
    height: 430px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 9.5%;
}
.block4-2-1{
    display: flex;
    width: 28.64%;
    height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
p.text11{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.9%; /* 142.9% */
    margin-top: 10%;
}
p.text12{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin-top: -2.5%
}
img.telephon1{
    width: 62.286%;
    height: 50.7%;
    flex-shrink: 0;
}
img.house{
    width: 62.286%;
    height: 50.7%;
    flex-shrink: 0;
}
img.bike{
    width: 62.286%;
    height: 50.7%;
    flex-shrink: 0;
}
.block4-3{
    display: flex;
    width: 96.22%;
    height: 8.6%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 4%;
}
.buttons{
    display: flex;
    width: 39.2%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.block4-3-1{
    display: flex;
    width: 51.566%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5634;
    background: #FF5634;
    justify-content: center;
    align-items: center;
}
.block4-3-2{
    display: flex;
    width: 42.8%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    background: #FFF;
    justify-content: center;
    align-items: center;
}
p.registerrestaurant2{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
}
.deliverx{
    display: flex;
    width: 100%;
    height: 11.42%;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.block5{
    display: flex;
    width: 84.86%;
    height: 67.66%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block5-1{
    display: flex;
    width: 100%;
    height: 81.7%;
    justify-content: space-between;
    align-items: center;
}
.block5-1-1{
    display: flex;
    width: 48.854%;
    height: 90.96%;
    flex-direction: column;
    justify-content: space-between;
}
.block5-1-1-1{
    display: flex;
    width: 100%;
    height: 30.4%;
    flex-direction: column;
    justify-content: space-between;
}
p.text13{
    color: #121212;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.7%;
    margin: 0;
}
p.text14{
    color: #656565;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%;
    margin: 0;
}
span.text15{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
}
.block5-1-1-2{
    display: grid;
    width: 100%;
    height: 64.3%;
    flex-shrink: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    grid-column-gap: 8%;
    grid-row-gap: 12%;
}
.block5-1-1-2-1{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 0.03643%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.text16-18{
    width: 100%;
    height: 54.5746%;  
}
p.text16{
    color: #121212;
    font-family: Roboto;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 127.3%; /*127.3%*/
    margin: 0;
}
p.text17{
    color: #656565;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 214.329%; /* 214.329% */
    margin: 0;
    margin-top: 5.58%;
}
p.text18{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
    margin-top: -2%;
    text-align: center;
}
img.fastdeliveries{
    width: 22.95%;
    height: 31.835%;
    margin: 0;
}
.block5-1-2{
    display: flex;
    width: 48.854%;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
}
img.duplerburger{
    position: relative;
    width: 47.236%;
    height: 83.354%;
    flex-shrink: 0;
}
img.burger{
    position: relative;
    width: 84.59%;
    height: 100%; /*683.828px*/
    flex-shrink: 0;
    left: -26.5%;
}
.block5-2{
    display: flex;
    width: 100%;
    height: 8.72%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.block6{
    display: flex;
    width: 100%;
    height: 7.88%;
    flex-shrink: 0;
    background: #121212;
    justify-content: space-between;
}
.block6-1{
    display: flex;
    width: 47.96%;
    height: 100%;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
}
.block6-1-1{
    display: flex;
    width: 84.22%;
    height: 36.885%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}
.block6-1-1-1{
    display: flex;
    height: 66.7%;
    width: 100%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
p.text19{
    color: #FFF;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 117.9%; /* 117.9% */
    margin: 0;
}
p.text20{
    color: #FFF;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%; /* 250.05% */
    margin: 0;
}
span.text21{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
}
.block6-1-1-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.414%;
    height: 23.1746%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5634;
    background: #FF5634;
}
p.text22{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111.1%; /* 111.1% */
    margin: 0;
}
.block6-2{
    display: flex;
    width: 47%;
    height: 100%;
    flex-shrink: 0;
    justify-content: space-between;
}
.block6-2-1{
    display: flex;
    width: 47.78%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.block6-2-2{
    display: flex;
    width: 47.78%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
img.dbimage2{
    width: 99.88%;
    height: 35.71%;
    flex-shrink: 0;
    margin: 0;
}
img.dbimage1{
    width: 99.88%;
    height: 16.86%;
    flex-shrink: 0;
    margin: 0;
}
img.dbimage4{
    width: 99.88%;
    height: 1%;
    flex-shrink: 0;
    margin: 0;
}
img.dbimage5{
    width: 99.88%;
    height: 1.89%; /*16.17px*/
    flex-shrink: 0;
    margin: 0;
}
img.dbimage8{
    width: 99.88%;
    height: 16.14%; /*137.83px*/
    flex-shrink: 0;
    margin: 0;
}
