/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('roboto-v47-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('roboto-v47-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html{
    font-size: 16px;
    margin: 0;
}
body{
    display: flex;
    width: 1440px;
    height: 11050.391px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    height: 1.0859344%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 3px 12px 0px rgba(18, 18, 18, 0.06);
}
.block1{
    display: flex;
    width: 84.86%;
    height: 46.7%;
    justify-content: space-between;
    align-items: center;
}
.block1-1{
    display: flex;
    width: 58.183306%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
}
img.image{
    width: 13.175%;
    height: 85.714%;
    flex-shrink: 0;
}
.block1-1-1{
    display: flex;
    width: 44.5850914%;
    height: 32.1428571%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}
.block1-1-1-1{
    display: flex;
    width: 91.7981%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.block1-1-3{
    display: flex;
    width: 41.35%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-left: 5%;
}
.block1-1-3-1{
    display: flex;
    width: 55.1%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #EDEDED;
    background: #FFF;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.block1-1-3-2{
    display: flex;
    width: 38.8%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #FF5634;
    background: #FF5634;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
p.home{
    color: #FF5634;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}
p.about{
    color: #121212;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
p.pricing{
    color: #121212;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
p.pages{
    width: 21.9931%;
    color: #121212;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    text-align: left;
}
p.cart0{
    color: #121212;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-left: 2.1%;
}
p.downloadapp{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}
p.register{
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}
p.fds{
    color: #FF5634;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 2.5%;
}
p.df{
    color: #121212;
    font-family: Roboto;
    font-size: 3.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116.1%;
    margin: 0;
    margin-top: 4.5%;
}
p.text1{
    color: #656565;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 200.05%;
    margin: 0;
    margin-top: 3%;
}
span.text2{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%;
}
main{
    width: 100%;
    height: 98.0543674%;
    margin: 0;
}
.deliciousfood{
    display: grid;
    display: flex;
    width: 100%;
    height: 8.42%;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.block2{
    position: relative;
    display: flex;
    width: 84.9%;
    height: 77.85%;
    flex-shrink: 0;
    justify-content: flex-start;
    gap: 4%;
    top: 5%;
    left: 20%;
    z-index: 1;
}
img.fastfood{
    width: 39.93%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    left: -12.4%;
    top: 0%;
}
.block2-1{
    width: 47.95%;
    height: 82.5%;
    flex-shrink: 0;
}
.block2-1-1{
    width: 100%;
    height: 44.54%;
    flex-shrink: 0;
}
.block2-1-2{
    display: inline-flex;
    width: 100%;
    height: 12.46%;
    align-items: flex-start;
    gap: 4%;
    flex-shrink: 0;
    margin-top: 7%;
}
.block2-1-2-1{
    display: flex;
    width: 42.15%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5634;
    background: #FF5634;
    justify-content: center;
    align-items: center;
}
.block2-1-2-2{
    display: flex;
    width: 34.98%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    background: #FFF;
    justify-content: center;
    align-items: center;
}
p.registerrestaurant{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
}
p.downloadapp2{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
img.telephon{
    width: 29.13%;
    height: 100%;
    flex-shrink: 0;
    margin-top: -0.5%;
}
hr.line1{
    width: 100%;
    height: 0.17%;
    flex-shrink: 0;
    margin-top: 10%;
}
.block2-1-3{
    display: flex;
    width: 100%;
    height: 15.53%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: 9.7%;
}
.block2-1-3-1{
    display: flex;
    width: 26.28%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.block2-1-3-2{
    display: flex;
    width: 31.23%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.block2-1-3-3{
    display: flex;
    width: 30.546%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
span.red{
    color: #FF5634;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 66.024px;
}
p.grey{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19.998px;
    margin: 0;
    margin-top: 2%;
}
p.text3{
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}
p.text4{
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}
p.text5{
    flex-shrink: 0;
    color: #121212;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-left: 7%;
}
.img-restaurants{
    display: flex;
    width: 100%;
    height: 3.645%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.block3{
    display: flex;
    width: 88.194%;
    height: 29.11%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text6{
    width: 100%;
    height: 19.13%;
    text-align: center;
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    margin-left: 2%;
}
.images{
    display: flex;
    width: 96.22%;
    height: 39.13%;
    justify-content: space-between;
}
img.rest1{
    width: 19.5581014%;
    height: 88.9%;
}
img.rest2{
    width: 19.5581014%;
    height: 95.56%;
}
img.rest3{
    width: 19.5581014%;
    height: 93.3%;
}
img.rest4{
    width: 19.5581014%;
    height: 100%;
}
hr.line2{
    width: 84.86%;
    height: 0.009%;
    flex-shrink: 0;
    margin-top: -0.2%;
}
.deliverysystem{
    display: flex;
    width: 100%;
    height: 11.52%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: -0.5%;
}
.block4{
    display: flex;
    width: 88.19%;
    height: 67.95%;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}
.block4-1{
    width: 55.12%;
    height: 24.65%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1.5%;
}
p.text7{
    color: #FF5634;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111.1%; /* 111.1% */
    letter-spacing: 1.08px;
    text-transform: uppercase;
}
p.text8{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.7%; /* 122.7% */
    margin-top: -2%;
}
p.text9{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%; /* 250.05% */
    margin-top: -3%;
}
p.text10{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin-top: -2.5%;
    margin-left: 52%;
}
.block4-2{
    display: flex;
    width: 96.22%;
    height: 430px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 9.5%;
}
.block4-2-1{
    display: flex;
    width: 28.64%;
    height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
p.text11{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.9%; /* 142.9% */
    margin-top: 10%;
}
p.text12{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin-top: -2.5%
}
img.telephon1{
    width: 62.286%;
    height: 50.7%;
    flex-shrink: 0;
}
img.house{
    width: 62.286%;
    height: 50.7%;
    flex-shrink: 0;
}
img.bike{
    width: 62.286%;
    height: 50.7%;
    flex-shrink: 0;
}
.block4-3{
    display: flex;
    width: 96.22%;
    height: 8.6%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 2.7%;
}
.buttons{
    display: flex;
    width: 39.2%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.block4-3-1{
    display: flex;
    width: 51.566%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5634;
    background: #FF5634;
    justify-content: center;
    align-items: center;
}
.block4-3-2{
    display: flex;
    width: 42.8%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    background: #FFF;
    justify-content: center;
    align-items: center;
}
p.registerrestaurant2{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
}
.deliverx{
    display: flex;
    width: 100%;
    height: 11.42%;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.block5{
    display: flex;
    width: 84.86%;
    height: 67.66%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block5-1{
    display: flex;
    width: 100%;
    height: 81.7%;
    justify-content: space-between;
    align-items: center;
}
.block5-1-1{
    display: flex;
    width: 48.854%;
    height: 90.96%;
    flex-direction: column;
    justify-content: space-between;
}
.block5-1-1-1{
    width: 100%;
    height: 30.4%;
}
p.text13{
    color: #121212;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.7%;
    margin: 0;
}
p.text14{
    color: #656565;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%;
    margin: 0;
    margin-top: 2.5%;
}
p.text15{
    position: relative;
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-left: 53.5%;
    margin-top: -5.4%;
}
.block5-1-1-2{
    display: grid;
    width: 100%;
    height: 64.3%;
    flex-shrink: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    grid-column-gap: 8%;
    grid-row-gap: 12%;
}
.block5-1-1-2-1{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 0.03643%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.text16-18{
    width: 100%;
    height: 54.5746%;  
}
p.text16{
    color: #121212;
    font-family: Roboto;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 127.3%; /*127.3%*/
    margin: 0;
    margin-top: -2%;
}
p.text17{
    color: #656565;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 214.329%; /* 214.329% */
    margin: 0;
    margin-top: 4%;
}
p.text18{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
    margin-top: -2%;
    text-align: center;
}
img.fastdeliveries{
    width: 22.95%;
    height: 31.835%;
    margin: 0;
    margin-top: -2%;
}
.block5-1-2{
    display: flex;
    width: 48.854%;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
}
img.duplerburger{
    position: relative;
    width: 47.236%;
    height: 83.354%;
    flex-shrink: 0;
}
img.burger{
    position: relative;
    width: 79.59%;
    height: 100%; /*683.828px*/
    flex-shrink: 0;
    left: -26.5%;
    top: -1%;
}
.block5-2{
    display: flex;
    width: 100%;
    height: 8.72%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 0.5%;
}
.block6{
    display: flex;
    width: 100%;
    height: 7.88%;
    flex-shrink: 0;
    background: #121212;
    justify-content: space-between;
    margin-top: -0.5%;
}
.block6-1{
    display: flex;
    width: 47.96%;
    height: 100%;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
}
.block6-1-1{
    display: flex;
    width: 84.22%;
    height: 36.885%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1%;
}
.block6-1-1-1{
    display: flex;
    height: 66.7%;
    width: 100%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
p.text19{
    color: #FFF;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 117.9%; /* 117.9% */
    margin: 0;
}
p.text20{
    color: #FFF;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%; /* 250.05% */
    margin: 0;
    margin-bottom: -0.5%;
}
span.text21{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
}
.block6-1-1-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.414%;
    height: 23.1746%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5634;
    background: #FF5634;
}
p.text22{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111.1%; /* 111.1% */
    margin: 0;
}
.block6-2{
    display: flex;
    width: 47%;
    height: 100%;
    flex-shrink: 0;
    justify-content: space-between;
}
.block6-2-1{
    display: flex;
    width: 47.78%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.block6-2-2{
    display: flex;
    width: 47.78%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
img.dbimage2{
    width: 99.88%;
    height: 35.71%;
    flex-shrink: 0;
    margin: 0;
}
img.dbimage1{
    width: 99.88%;
    height: 16.86%;
    flex-shrink: 0;
    margin: 0;
}
img.dbimage4{
    width: 99.88%;
    height: 1%;
    flex-shrink: 0;
    margin: 0;
}
img.dbimage5{
    width: 99.88%;
    height: 1.89%; /*16.17px*/
    flex-shrink: 0;
    margin: 0;
}
img.dbimage8{
    width: 99.88%;
    height: 16.14%; /*137.83px*/
    flex-shrink: 0;
    margin: 0;
}
.ourfeatures{
    display: flex;
    width: 100%;
    height: 12.902%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.block7{
    display: flex;
    width: 1270px;
    height: 71.388%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block7-1{
    display: flex;
    width: 100%;
    height: 86.67%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block7-1-1{
    display: flex;
    width: 55.12%;
    height: 24.16%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block7-1-1-1{
    display: flex;
    width: 100%;
    height: 63.72%; /*133.17px*/
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
p.text23{
    color: #FF5634;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111.1%; /* 111.1% */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin: 0;
}
p.text24{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.7%; /* 122.7% */
    margin: 0;
}
.block7-1-1-2{
    display: flex;
    width: 100%;
    height: 25.756%; /*53.83px*/
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
p.text25{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%; /* 250.05% */
    margin: 0;
}
span.text26{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
.block7-1-2{
    display: grid;
    width: 96.22%;
    height: 69.364%;
    flex-shrink: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    grid-column-gap: 7.036%;
    grid-row-gap: 13.33%;
    margin-bottom: -0.5%;
}
.block7-1-2-1{
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
img.expressdelivery{
    width: 30%;
    height: 34.615%;
    flex-shrink: 0;
    margin: 0;
}
p.text27{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.9%; /* 142.9% */
    margin: 0;
}
p.text27-1{
    color: #121212;
    text-align: center;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.9%; /* 142.9% */
    margin: 0;
    margin-left: -0%;
}
p.text28{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
p.text28-1{
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
    margin-bottom: 2%;
}
p.text28-2{
    width: 98%;
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
    margin-bottom: -1%;
    margin-left: 5%;
}
.block7-2{
    display: flex;
    width: 96.22%;
    height: 7.315%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.hfrm{
    display: flex;
    width: 100%;
    height: 18.965%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.block8{
    display: flex;
    width: 84.86%;
    height: 80.535%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block8-1{
    display: flex;
    width: 100%;
    height: 46.374%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.block8-1-1{
    display: flex;
    width: 48.91%;
    height: 100%;
    flex-shrink: 0;
    flex-wrap: nowrap;
}
.block8-1-1-1{
    position: relative;
    width: 100.047%;
    height: 89.776%;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FF5634;
    z-index: 1;
}
img.deliveryaddress{
    position: relative;
    width: 58.39%;
    height: 91.73%;
    flex-shrink: 0;
    z-index: 2;
    left: -90%;
    top: 9%;
}
img.peoplewithtelephon{
    position: relative;
    width: 57%;
    height: 44.43%;
    flex-shrink: 0;
    border-radius: 17.89%;
    z-index: 3;
    left: -125.5%;
    top: 29%;
}
.block8-1-2{
    display: flex;
    width: 46.585%;
    height: 62.8%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}
.block8-1-2-1{
    display: flex;
    width: 100%;
    height: 43.36%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.3%;
}
p.text29{
    color: #121212;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.7%; /* 122.7% */
    margin: 0;
}
p.text30{
    width: 90%;
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
.block8-1-2-2{
    display: flex;
    width: 569.266px;
    height: 236px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.block8-1-2-2-1{
    display: flex;
    width: 100%;
    height: 43.22%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
img.ordermanagement{
    width: 12.65%;
    height: 70.59%;
    flex-shrink: 0;
}
.block8-1-2-2-1-1{
    display: flex;
    width: 82.43%;
    height: 100.43%; /*100.43%*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
p.text31{
    color: #121212;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 141.7%; /* 141.7% */
    margin: 0;
}
p.text32{
    color: #656565;
    font-family: Roboto;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 190.815%; /* 230.815% */
    margin: 0;
}
span.text32-1{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
p.text33{
    color: #121212;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 122.7%; /* 122.7% */
    margin: 0;
}
img.youcart{
    position: relative;
    width: 58.39%;
    height: 91.73%;
    flex-shrink: 0;
    z-index: 2;
    left: -68.5%;
    top: 9%;
}
img.burger2{
    position: relative;
    width: 57%;
    height: 44.43%;
    flex-shrink: 0;
    border-radius: 17.89%; /*61px*/
    z-index: 3;
    left: -148.5%;
    top: 30%;
}
.whatourclientsay{
    display: flex;
    width: 100%;
    height: 10.53%;
    background: #FAFAFA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block9{
    display: flex;
    width: 84.86%;
    height: 64.943%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block9-1{
    display: flex;
    width: 100%;
    height: 17.4%;
    justify-content: space-between;
    align-items: flex-end;
}
.block9-1-1{
    display: flex;
    width: 40.098%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
p.text33{
    color: #121212;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 122.7%; /* 122.7% */
    margin: 0;
}
.block9-1-1-1{
    width: 94.9%; /*465px*/
    height: 47.287%; /*61px*/
}
p.text34{
    color: #656565;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%; /* 250.05% */
    margin: 0;
    margin-top: 2%;
}
p.text35{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
    margin-top: -7.8%;
    margin-left: 70.1%;
}
.buttons2{
    display: flex;
    width: 39.198%;
    height: 56.59%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.block9-2{
    display: grid;
    width: 100%;
    height: 76.11%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.29%;
    grid-row-gap: 4.964%;
}
.block9-2-1{
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 6.17% / 8.955%;
    border: 1px solid #EDEDED;
    background: #FFF;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 12px 0px rgba(16, 16, 16, 0.08); 
}
.block9-2-1-1{
    display: flex;
    width: 82.94%;
    height: 69.12%; /*185.23px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.block9-2-1-1-1{
    display: flex;
    width: 100%;
    height: 34.55%;
    justify-content: space-between;
    align-items: center;
}
p.text37{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
.block9-2-1-1-1-1{
    display: flex;
    width: 63.225%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.block9-2-1-1-1-2{
    width: 11.157%;
    height: 56.25%;
    flex-shrink: 0;
    border-radius: 22.22%;
    background: #EEF8FF;
}
img.people1{
    width: 31.37%;
    height: 100%;
    flex-shrink: 0;
}
.block9-2-1-1-1-1-1{
    display: flex;
    width: 63.725%;
    height: 67.1875%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
p.name{
    color: #121212;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111.1%; /* 111.1% */
    margin: 0;
}
p.text36{
    color: #FF5634;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%; /* 112.5% */
    margin: 0;
}
.startattracting{
    display: flex;
    width: 100%;
    height: 7.485%;
    flex-direction: column;
    justify-content: flex-end;
    background: #FAFAFA;
}
.block10{
    display: flex;
    width: 100%;
    height: 83.847%;
    justify-content: space-between;
    background: #121212;
}
.block10-1{
    display: flex;
    width: 47.964%; /*690.688px*/
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.block10-1-1{
    display: flex;
    width: 84.264%;
    height: 47.794%; /*325px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.block10-1-1-1{
    display: flex;
    width: 100%;
    height: 67.385%; /*219px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
p.text38{
    color: #FFF;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 117.9%; /* 117.9% */
    margin: 0;
    margin-top: 1.5%;
}
.block10-1-1-2{
    display: flex;
    width: 100%;
    height: 22.154%;
    flex-direction: column;
    align-items: flex-start;
}
.block10-1-1-2-1{
    display: flex;
    width: 42.44%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5634;
    background: #FF5634;
    justify-content: center;
    align-items: center;
}
.block10-2{
    width: 46.687%;
    height: 100%;
}
img.duplerburger2{
    position: relative;
    width: 47.45%; /*47.45% 92.94%*/
    height: 92.94%;
    flex-shrink: 0;
    z-index: 1;
    top: -12%;
    left: -1.7%;
    transform: rotate(-13deg);
}
img.browserestaraunts{
    position: relative;
    width: 48.856%;
    height: 98.235%;
    flex-shrink: 0;
    top: -9.2%;
    left: -10.75%;
    transform: rotate(12.2deg);
}
.deliverx2{
    display: flex;
    width: 100%;
    height: 7.226%; /*783px*/
    justify-content: center;
    background: #FFF;
}
.block11{
    display: flex;
    width: 84.86%; /*1222px*/
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.block11-1{
    display: flex;
    width: 100%;
    height: 38.06%;
    flex-direction: column;
    justify-content: center;
}
.block11-1-1{
    display: flex;
    width: 100%;
    height: 48.322%;
    justify-content: space-between;
    align-items: center;
    margin-top: -1%;
}
.block11-1-1-1{
    display: flex;
    width: 35.9247%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
img.imagedeliverx{
    width: 45.558%;
    height: 41.667%;
}
p.text39{
    color: #656565;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 250.05%; /* 250.05% */
    margin: 0;
    margin-bottom: -1.2%;
}
.block11-1-1-2{
    display: flex;
    width: 39.689%;
    height: 45.833%;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
}
.button1{
    width: 42.8866%;
    height: 100%;
    border-radius: 14px;
    border: 1px solid #FF5634;
    background: #FF5634;
}
.button2{
    width: 51.75%;
    height: 96.97%;
    border-radius: 14px;
    border: 1px solid #FF5634;
    background: #FF5634;
}
p.text40{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 137.5%; /* 137.5% */
    margin: 0;
    margin-top: 12%;
}
p.text41{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 137.5%; /* 137.5% */
    margin: 0;
    margin-top: 9%;
}
hr.line3{
    width: 100%;
    height: 0.1277139%;
    flex-shrink: 0;
    margin: 0;
}
.block11-2{
    display: flex;
    width: 100%;
    height: 61.686%; /*483px*/
    flex-direction: column;
    justify-content: center;
}
.block11-2-1{
    display: inline-flex;
    width: 100%;
    height: 58.799%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.block11-2-1-1{
    display: flex;
    width: 18.167%;
    height: 86.97%; /*247px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
p.text42{
    color: #121212;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 110% */
    margin: 0;
}
.block11-2-1-1-1{
    display: flex;
    width: 100%;
    height: 74.899%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.block11-2-1-1-1-1{
    display: flex;
    width: 40.54%;
    height: 90.059%; /*166.609px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.block11-2-1-1-1-2{
    display: flex;
    width: 41.44%;
    height: 50.059%; /*92.609px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
p.text43{
    color: #656565;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111.1%; /* 111.1% */
    margin: 0;
}
.block11-2-1-2{
    display: flex;
    width: 14.32%;
    height: 93.524%; /*265.609px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.block11-2-1-2-1{
    display: flex;
    width: 100%;
    height: 76.6574%; /*203.609px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.block11-2-1-3{
    display: flex;
    width: 40.753%;
    height: 81.69%; /*232px*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.block11-2-1-3-1{
    display: grid;
    width: 100%;
    height: 73.276%;
    grid-template-columns: 1.1814fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5.823%;
    grid-row-gap: 7.9412%;
    flex-shrink: 0;
}
.block11-2-1-3-1-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7.087%;
}
.block11-2-1-3-1-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8.372%;
}
img.town{
    width: 30.71%;
    height: 100%;
    flex-shrink: 0;
}
img.town2{
    width: 36.279%;
    height: 100%;
    flex-shrink: 0;
}
p.text44{
    color: #121212;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 133.3%; /* 133.3% */
}
hr.line4{
    width: 100%;
    height: 0.00638569%;
    flex-shrink: 0;
    margin: 0;
}
footer{
    display: flex;
    width: 100%;
    height: 0.86%;
    flex-shrink: 0;
    justify-content: center;
    background: #FFF;
}
.block12{
    display: flex;
    width: 84.86%;
    height: 100%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.text45{
    width: 25.777414%;
    flex-shrink: 0;
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
.text46{
    width: 11.13%;
    flex-shrink: 0;
    color: #FF5634;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
.text47{
    width: 10.393%;
    flex-shrink: 0;
    color: #656565;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
.text48{
    width: 6.22%;
    flex-shrink: 0;
    color: #FF5634;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%; /* 166.7% */
    margin: 0;
}
